<div class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead>
            <tr>
              {% for field in fields %}
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">{{ field }}</th>
              {% endfor %}
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">actions</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for row in records %}
            <tr>
              {% for field in fields %}
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ attribute(row, field) }}</td>
              {% endfor %}
              <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                <a href="/backoffice/{{contenttype}}/{{ attribute(row, 'slug') }}" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">View</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
